.todo-item {
  padding: 10px 0;
  min-height: 30px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}

.todo-checkbox {
  margin: auto 1ex auto 2ex;
}

.todo-title {
  flex-grow: 1;
  padding-left: 5px;
  width: min-content;
}

.todo-complete {
  text-decoration: line-through;
}

.btn-down {
  background: blue;
  margin: 0 2px 0 3px;
  width: 2rem;
}

.btn-up {
  background: purple;
  margin: 0 2px 0 3px;
  width: 2rem;
}

input {
  font-family: "Montserrat", sans-serif;
  margin: auto;
}
