.search-input {
  padding: 4px 10px 4px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 20px;
  border: solid 1px #cacaca;
  border-radius: 5px;
  flex-grow: 1;
}

:host {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  flex-grow: 1;
}
