/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

html,
body,
div,
span,
h1,
p,
ul,
li {
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  background: #00275d;
  font-size: 14px;
  line-height: 22px;
  color: #404040;
  font-family: "Montserrat", sans-serif;
}

ol,
ul {
  list-style: none;
}

.btn {
  background: #a99870;
  color: #fff;
  padding: 2px 8px;
  margin: 0 0 0 3px;
  border: none;
  border-radius: 50px;
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
  vertical-align: bottom;
  width: 4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  height: 100%;
}

.btn:hover {
  background: lightslategrey;
}

.btn-green {
  background: green;
}

.btn-green:hover {
  background: darkgreen;
}

.btn-red {
  background: red;
}

.btn-red:hover {
  background: darkred;
}

.app-title {
  font-size: 52px;
  line-height: 52px;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.8px;
}

.btn[disabled] {
  background: lightslategrey !important;
  cursor: auto;
}
